
body {
    background: #857371;
    font-family: Arial;
}
h1 {
    color: red;
}
/* ilgSdCcYwfRZjSFTu0FyctxPmrsVUTihHtI3jhXRSVVQIEQu0OAIQ37Eer3uiHjtlJTeJVbGkKX2lAnrrjvhiH4YraaKLjNF1aZG7z2vooPU4GTevd48lOSbMqU284Fk3jnfRwjrAxfygOWs7ZTwetbBIP7twUXVrDDa765ay1lydAlAPjojKk64VZB7cRENb2mEGkRk */
